/* Styles for the custom app container */
.custom-app-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Styles for the custom map container */
  .custom-map-container {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Styles for the 3D canvas of the Babylon.js scene */
  .custom-map-canvas {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Styles for the custom cuboid */
  .custom-cuboid {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5%;
    left: 40px;
  }
  
  /* Styles for the custom cube */
  .custom-cube {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #f5a623;
  }
  
  /* Styles for the custom capture button */
  .custom-capture-button {
    width: 100%;
    padding: 10px 0;
    background-color: #00b894;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
  }
  
  .custom-capture-button:hover {
    background-color: #00a884;
  }
  
  /* Styles for the container of captured images */
  .custom-captured-images {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  
  /* Styles for individual captured images */
  .custom-captured-image {
    width: 180px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .custom-captured-image img {
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
  
  /* Styles for the actions of each captured image */
  .custom-image-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
  }
  
  .custom-image-actions button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .custom-image-actions button:hover {
    background-color: #258cd1;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .custom-captured-images {
      justify-content: center;
    }
  
    .custom-captured-image {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 468px) {
    .custom-map-canvas {
      height: 250px;
    }
  
    .custom-cuboid {
      position: absolute;
      bottom: 2%;
      left: 20px;
    }
  
    .custom-captured-images {
      justify-content: space-between;
    }
  
    .custom-captured-image {
      width: 170px;
    }
  
    .custom-image-actions {
      padding: 5px;
    }
  
    .custom-image-actions button {
      padding: 4px 8px;
    }
  }
  